alabaster
amqp
appdirs
appnope
argon2-cffi
asgiref
astroid
atomicwrites
attrs
Babel
backcall
backports.zoneinfo;python_version<"3.9"
billiard
black
boto3
botocore
cattrs
celery
certifi
cffi
cfgv
chardet
click
click-didyoumean
click-plugins
click-repl
Collectfast
colorama
coverage
decorator
defusedxml
distlib
Django==4.2.13
django-allauth
django-anymail
django-cors-headers
django-coverage-plugin
django-crispy-forms
django-debug-toolbar
django-environ
django-extensions
django-model-utils
django-redis
django-storages
django-stubs
djangorestframework
docutils
esbonio
exceptiongroup
factory-boy
Faker
filelock
flake8
flake8-isort
gunicorn
hiredis
httpie
identify
idna
imagesize
iniconfig
ipdb
ipython
ipython-genutils
isort
jedi
Jinja2
jmespath
kombu
lazy-object-proxy
livereload
lsprotocol
MarkupSafe
mccabe
more-itertools
mypy
mypy-extensions
nodeenv
numpy
oauthlib
packaging
parso
pathspec
pexpect
pickleshare
Pillow
pluggy
pre-commit
prompt-toolkit
psycopg2-binary
ptyprocess
py
pycodestyle
pycparser
pyflakes
pygls
Pygments
pylint
pylint-django
pylint-plugin-utils
pyparsing
pyproj
pyspellchecker
pytest
pytest-django
pytest-sugar
python-dateutil
python-slugify
python3-openid
pytz
PyYAML
redis
regex
requests
requests-oauthlib
s3transfer
six
snowballstemmer
Sphinx
sphinx-autobuild
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sqlparse
termcolor
testfixtures
text-unidecode
toml
tornado
traitlets
typed-ast
typeguard
typing_extensions
tzdata
urllib3
vine
virtualenv
wcwidth
Werkzeug
wrapt
