{% extends "base.html" %} 

{% block content %}
<h1>Spatial Context {{ spatial_context.context_number }} Find {{ find.find_number }}</h1>
<div class="form-row">
  {% include "main/fragments/hemisphere_col.html" %}
  {% include "main/fragments/zone_col.html" %}
  {% include "main/fragments/easting_col.html" %}
  {% include "main/fragments/northing_col.html" %}
  {% include "main/fragments/spatialcontext_col.html" %}
  {% include "main/fragments/findnumber_col.html" %}
</div>

<div class="find_info mt-5">
  <h2 class="mb-3">Info</h2>
  <dl class="row">
    <dt class="col-sm-2">
      Material:
    </dt>
    <dd class="col-sm-10">
      {{ find.material }}
    </dd>
    <dt class="col-sm-2">
      Category:
    </dt>
    <dd class="col-sm-10">
      {{ find.category }}
    </dd>
  </dl>
    
  <h3>Director Notes</h3>
  <p>{{ find.director_notes|default:"No director notes."}}</p>
</div>

<h2 class="mt-5 mb-3">Find Photos</h2>
<div class="row">
    {% for photo in find.findphoto_set.all %}
    <div class="col-md-3">
      <a href="{{ photo.photo.url }}">{{ photo.get_filename }}</a>
    </div>
    {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
    {% empty %}
    <div class="col-md-3"><p>No Find Photos</p></div>
    {% endfor %}
</div>

{% endblock content %}
