{% extends "base.html" %} 

{% block content %}
<h1>Spatial Context {{ spatial_context.context_number }}</h1>
<div class="form-row">
  {% include "main/fragments/hemisphere_col.html" %}
  {% include "main/fragments/zone_col.html" %}
  {% include "main/fragments/easting_col.html" %}
  {% include "main/fragments/northing_col.html" %}
  {% include "main/fragments/spatialcontext_col.html" %}

  <div class="col-2">
    <label for="find_select">Find Number</label>
    <select class="form-control" id="find_select" 
            onchange="document.location = `${document.location}/${this.value}`;">
      <option></option>
      {% for find in finds %}
        <option value="{{ find.find_number }}">
            {{ find.find_number }}
        </option>
      {% endfor %}
    </select>
  </div>
</div>

{% if not finds %}
<div>
  <p class="mt-3">
    No finds in this context. 
    <a href="{% url 'main:spatialcontext_select' hemisphere zone easting northing %}">
      Try a different context.
    </a>
  </p>
</div>  
{% endif %}

<div class="spatialcontext_info mt-5">
  <h2 class="mb-3">Info</h2>
  <dl class="row">
    <dt class="col-sm-2">
      Type:
    </dt>
    <dd class="col-sm-10">
      {{ spatial_context.type }}
    </dd>
    <dt class="col-sm-2">
      Opening Date:
    </dt>
    <dd class="col-sm-10">
      {{ spatial_context.opening_date }}
    </dd>
    <dt class="col-sm-2">
      Closing Date:
    </dt>
    <dd class="col-sm-10">
      {{ spatial_context.closing_date }}
    </dd>
  </dl>
    <h3>Description</h3>
    <p>{{ spatial_context.description|default:"No description" }}</p>
    <h3>Director Notes</h3>
    <p>{{ spatial_context.director_notes|default:"No director notes."}}</p>
</div>

<div class="spatialcontext_photos mt-5">
  <h2 class="mb-3">Photos</h2>
  <h3 class="mb-2">Context Photos</h3>
  <div class="row">
    {% for photo in spatial_context.contextphoto_set %}
    <div class="col-md-3">
      <a href="{{ photo.photo.url }}"><img class="img-thumbnail" src="{{ photo.thumbnail.url }}" /></a>
    </div>
    {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
    {% empty %}
    <div class="col-md-3"><p>No Context Photos</p></div>
    {% endfor %}
  </div>
  <h3 class="mt-3 mb-2">Bag Photos</h3>
  {% if spatial_context.bagphoto_set %}
    {% regroup spatial_context.bagphoto_set by get_source_display as bagphotos %}
    {% for source in bagphotos %}
    <h4 class="mt-2">{{ source.grouper }}</h4>
      <div class="row">
        {% for photo in source.list %}
        <div class="col-md-3">
          <a href="{{ photo.photo.url }}"><img class="img-thumbnail" src="{{ photo.thumbnail.url }}" /></a>
        </div>
        {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
        {% empty %}
        <div class="col-md-3"><p>No {{ source.grouper }} Photos</p></div>
        {% endfor %}
      </div>
    {% endfor %}
  {% else %}
  <p>No bag photos found for this context.</p>
  {% endif %}

</div>

{% endblock content %}
