{% extends "base.html" %} 
{% load main_extras %}

{% block content %}
<h1>Spatial Context {{ spatial_context.context_number }} Find {{ find.find_number }}</h1>
<div class="form-row">
  {% include "main/fragments/hemisphere_col.html" %}
  {% include "main/fragments/zone_col.html" %}
  {% include "main/fragments/easting_col.html" %}
  {% include "main/fragments/northing_col.html" %}
  {% include "main/fragments/spatialcontext_col.html" %}
  {% include "main/fragments/findnumber_col.html" %}
</div>

<div class="find_info mt-5">
  <h2 class="mb-3">Info</h2>
  <dl class="row">
    <dt class="col-sm-2">
      Material:
    </dt>
    <dd class="col-sm-10">
      {{ find.material }}
    </dd>
    <dt class="col-sm-2">
      Category:
    </dt>
    <dd class="col-sm-10">
      {{ find.category }}
    </dd>
  </dl>
    
  <h3>Director Notes</h3>
  <p>{{ find.director_notes|default:"No director notes."}}</p>
</div>

<h2 class="mt-5 mb-3">Files found in {{ find.findphoto_folder}} </h2>
<ul>
  {% for url in find.list_file_urls_from_photo_folder %}
    <li><a href="{{ url }}">{{ url|stem }}</a></li>
  {% empty %}
    <li>No files found in {{ find.findphoto_folder }}</li>
  {% endfor %}
</ul>


{% endblock content %}
