{% extends "base.html" %}

{% block content %}
<div>

  <div class="row">
    {% include "main/fragments/hemisphere_col.html" %}
    {% include "main/fragments/zone_col.html" %}
    {% include "main/fragments/easting_col.html" %}
    <div class="col-2">
      <label for="utm_northing_select">Northing</label>
      <select class="form-control" id="utm_northing_select" onchange="document.location = `${document.location}/${this.value}`;">
        <option></option>
        {% for northing in northings %}
          <option value="{{ northing }}">{{ northing }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>
{% endblock content %}